.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;

}

.card {
  text-align: start;
}

img {
  width: 200px;
}

/* variant = "dark" */
.dark {
  background: url("../../assets/images/about_us_background.jpg");
  background-position: bottom right;
  color: #ffffff;
}

.dark h2 { 
  color: #ffffff; 
}

.cardNumber {
  color: #E54E41;
  font-size: 30px;
  font-weight: 700;
}

/* variant = "light" */
.light {
  background-color: #ffffff;
  color: #333333;
  width: 100vw;
}

.light h2 { color: #000000; }

.light .cardContainer {
  background: url("../../assets/headers/section_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
}

.light .card p {
  color: #ffffff;
}

.videoImg {

z-index: 5;
width: 250px;
position: relative;
top: -80px;
left: 0;
}